<% # code for displaying a notice %>
<p id="notice"><%= notice %></p>

<% # code for displaying a post %>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<% # code for displaying comments to post %>
<h2>Comments</h2>
<div id="comments">
	<% # render all comments in reverse order %>
	<% # uses '_comment.html.erb' partial template %>
	<%= render :partial => @post.comments.reverse %>
</div>

<% # form for creating a new comment %>
<% # added 'remote: true' %>
<%= form_for([@post, Comment.new], remote: true) do |f| %>
	<p>
		<%= f.label :body, "New Comment" %><br />
		<%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>

<% # links %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
